@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#header {
	background-color: #336666;
	margin-bottom: 0.5em;
	height: 7em;
}

#content {
	background-color: #008000;
	margin: auto;
	margin-bottom: 0.5em;
	height: 10em;
	width: 90%;
	
}

#leftFooter {
	background-color: #800080;
	margin-left: 5%;
	height: 2.5em;
	width: 44%;
	float: left;
}

#rightFooter{
	background-color: #0000ff;
	margin-right: 5%;
	height: 2.5em;
	width: 44%;
	float: right;
}